<div class="row">
  <div class="large-8 small-8 columns">
    <%= form_tag search_listings_path, :method => :get do %>
        <p>
          <%= text_field_tag :query, params[:query] %> <%= submit_tag "Search!" %>
        </p>
    <% end %>
  </div>

</div>
