// Place all the styles related to the userDetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.DOB {
  width:15%;
}
.mobileNumber {
  width:30%;
}
.streetNumber{
  width:10%;
}

.postCode{
  width:20%;
}