// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'fonts/ubuntu';

.estate-logo{
	color:white !important;
	#estate-logo-a{
		color:white;
	}

	.top-bar-left{
		.logo{
			width: 25px;
			float:left;
		}
		h1{
			float:left;
			font-size:1rem;
			font-family: 'ubunturegular';
			vertical-align:baseline;
			margin:0;
			margin-top:13px;
		}


	}
}
#main{
	background-colour: black
}
.top-bar-anchor
{
  font-family: 'ubunturegular';
  font-size: 1.3rem;
}

.user-signup-form{
	margin-bottom:15px;
	.field_with_errors{
		input{
			//background-color:rgba(255,0,0,0.1);
			border-color:red;
			box-shadow:0px 0px 5px #f44;
			margin-bottom:1px;
		}
	}

	.error-msg-display{
		font-size:0.8em;
		color:red;
		padding-top:0px;
		bottom:0;
		height:100%;
		margin:0;
	}
}
.DOB {
  width:15%;
}
.mobileNumber {
  width:30%;
}
.streetNumber{
	width:10%;
}

.postCode{
	width:20%;
}


