
    <div class="main_top_bar" id="top_bar">
      <%= link_to image_tag("logo", class: "logo") + "BuyMyCastle", root_path, class: "site_logo" %>
        <ul class="main_menu">
          <li class="main_menu_item"><a href="#" class="main_menu_anchor">Buy</a></li>
          <li class="main_menu_item"><a href="#" class="main_menu_anchor">Rent</a></li>
          <li class="main_menu_item"><a href="#" class="main_menu_anchor">Sold</a></li>
        </ul>
        <ul class="user_menu">
          <% if logged_in? %>
          <li class="logged_user"><%= link_to "Welcome #{current_user.username}", current_user, class: "logged_user_anchor" %>
            <ul class="dropdown_user_menu">
              <li class="dropped_items"><%= link_to "My Posts", '#', class: "dropped_items_anchor" %></li>
              <li class="dropped_items"><%= link_to "Log out", logout_path, method: "delete", class: "dropped_items_anchor" %></li>
            </ul>
          </li>
        <% else %>
          <a href="/login", class="button_login" data-lightbox="Login">Log in</a>
        <% end %>
        </ul>
    </div>

