<div class="row_top_bar">
  <div class="topbar_menu">
      <ul class="menu expanded">
        <li><a href="#" class="center-buttons">One</a></li>
        <li><a href="#" class="center-buttons">Two</a></li>
        <li><a href="#" class="center-buttons">Three</a></li>
        <li><a href="#" class="center-buttons">Four</a></li>
        <li><a href="#" class="center-buttons">Five hundred</a></li>
        <li><a href="users/new" class="center-buttons">Sign Up</a></li>
      </ul>
  </div>
</div>

